@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* color: black; */
    text-transform: capitalize;
    outline: none;
    border: none;
    list-style: none;
}
:root{
    --main-color:#2f2721;
    --primary-color:#d3ad7f;
    --black:#13131a;
    --border:0.1rem solid rgba(255,255,255,0.3);

    --bg-color:#fff;
    --general-transition:0.5s ease;

}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0.7rem;
}

::-webkit-scrollbar-track{
background-color: transparent;
}
::-webkit-scrollbar-thumb{
background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: #d7b68d;
}
/* img{width: 100%;} */

/* //////REUSED/////// */
.btn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid var(--primary-color);
}
.btn:hover{
    color: var(--primary-color);
    background-color: rgb(244, 237, 237);
}
section{
    padding: 2rem 8%;
}
.section-title{
    text-align: center;
    color: var(--primary-color);
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 40px;
}
/* //////HEADER/////// */
.header{
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    z-index: 1000;
}
.header .logo i{
    padding-right: 10px;
    color: white;
  
}
.header .logo {
    color: white;
    font-size: 27px;
    font-weight: 600;
}

.header .navbar .close-btn,
.header  .menu-btn{
    display: none;}

.header .navbar ul{
    display: flex;
    column-gap: 60px;
}
.header .navbar ul a{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.header .navbar ul a:hover{
    color: var(--primary-color);
}

/* //////  START HOME  /////// */
.home{
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.home .home-txt{max-width: 50rem;}
.home .home-txt h1{
color: white;
font-size: 62px;
font-weight: 800;
letter-spacing: 0.6px;
text-transform: uppercase;
margin-bottom: 40px;
}
/* //////  END HOME  /////// */
/* //////  START ABOUT  /////// */
.about{position: relative;}
.about::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 80%;
    background-color: #c9ae8e4e;
    left: 0;
    top: 150px;
    z-index: -1;
}
.image-holder{
    aspect-ratio: var(--width)/var(--height);
    overflow: hidden;
    position: relative;
}

.image-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.about-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
    align-items: center;
}
.about-content .about-txt h3{
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
}
.about-content .about-txt h3::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 10px;
    left: 0;
}
.about-content .about-txt p{
color: rgb(186, 180, 180);
padding-top: 30px;
line-height: 2;

}
/* //////  END ABOUT  /////// */

/* //////  START ABOUT  /////// */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    text-align: center;
    gap: 20px;
}
.menu .box-container .box{
    padding: 4rem;
    background-color: var(--main-color);
    color: white;
}
.menu .box-container .box img{height: 7rem;}
.menu .box-container .box h3{padding-block: 10px;}
.menu .box-container .box:hover{
    background-color: var(--primary-color);
    color: black;
    cursor: pointer;
}
/* //////  END ABOUT  /////// */
/* //////  START CONTACT  /////// */
.contact-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.contact-container form{
    border: 1px solid var(--main-color);
    padding: 2rem;
}
.contact-container form h3{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: var(--main-color);
}
.contact-container form .input-box{
background-color: var(--main-color);
padding: 20px;
margin-bottom: 20px;

}

.contact-container form i{
    color: var(--primary-color);
   font-size: 1.2rem;
   padding-right: 10px;

}
.contact-container form input{
    width: 80%;
    background: none;
    text-transform: none;
    color: white;
}
/* //////  END CONTACT  /////// */
/* //////  START FOOTER  /////// */
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    /* padding: auto; */
    background-color: var(--main-color);
    color: white;
    padding-top: 50px;
    /* padding: 70px 20px; */
    /* text-align: center; */
}
.footer p{
color: rgb(186, 180, 180);
   padding: 10px 0; 
}
.footer img{
    width: 40px;
    height: 40px;
    
}

@media (max-width:991px){
.header .navbar ul {
column-gap: 46px;
}
.header{
padding: 20px 5%;
}
section{
padding: 2rem;
}
.about::after {
    height: 62%;
    top: 205px;
}
.about-content .about-txt h3 {
    font-size: 25px;
}
.about-content .about-txt p {
    padding-top: 12px;
    line-height: 1.7;
}
.menu .box-container {
    grid-template-columns: repeat(2,1fr);
}
.menu .box-container .box {
    padding: 4rem 2rem;
}
.contact-container form {
    padding: 1rem;
}
.contact-container form .input-box {
    padding: 10px;
    margin-bottom: 10px;
}
.footer {
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
}
}
@media (max-width:768px){
    .header .navbar .close-btn,
    .header  .menu-btn{
        display: block;
    color: #13131a;}
.navbar{
    position: fixed;
    top: 0;
    right: -320px;
    height: 100vh;
    width: 320px;
    background-color: #fff;
    z-index: 1200;
    display: flex;
    justify-content: space-between;


}
.menu-btn i{
    color: #fff;
    font-size: 25px;
}
.menu-btn i:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.navbar ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header .navbar ul a{
    color: #13131a;
    display: inline-block;
    padding: 20px 0;
}
.close-btn{
    padding: 20px;
    font-size: 30px;
}
.close-btn i:hover{
    color: var(--primary-color);
    cursor: pointer;
}



.header .navbar.active{
    box-shadow:  0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
}
}


@media (max-width:520px){
    .section-title{font-size: 30px;}
    .home .home-txt h1 {
        font-size: 48px;
    }
    .about-content {
        gap: 19px;
    }

    .about-content .about-txt h3 {
        font-size: 17px;
    }
    .about-content .about-txt p {
        font-size: 11px;

    }
    .about::after {
        top: 168px;
    }
    .menu .box-container {
        grid-template-columns: 1fr;
        padding: 0 40px;
    }
    .contact-container {
        grid-template-columns: 1fr;
        padding: 0 40px;
    }

}


@media (max-width:410px){
    .about::after {
        height: 77%;
    }

.about-content {
    grid-template-columns: 1fr;
}

.home .home-txt h1 {
    font-size: 34px;
}
.menu .box-container {
    padding: 0 20px;
}
.contact-container {
    padding: 0 10px;
}
.footer {
    grid-template-columns: 1fr;
}
}